@use '../../../styles.scss' as main;

#map {
  height: calc(100vh - main.$topbar_height );
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.new{
  position: absolute;
  right: 1rem;
  z-index: 1000;
  float: right;
  top: 20px;
}
